<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Storage.Properties.Settings.storageDBConnectionString"
            connectionString="Data Source=MYCOMPUCTERONLY\MSSQLSERVER_2022;Initial Catalog=storageDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>